.Fac_dashboard
{
    width: 100%;
    height: 100vh;
    white-space: nowrap; /* Đảm bảo các phần tử không xuống dòng */
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    &_container
    {
        width: 98%;
        height: 95%;
        
        display: flex;
        z-index: 10;
        &_Left
        {
            width: 20%;
            height: 100%;
            
        }
        &_Right
        {
            margin-left: 1%;
            width: 100%;
            
            &_Dashboard
            {
                margin-top: 1%;
                width: 100%;
                height: 78.1%;
                background-color: bisque;
                overflow: hidden;
            }
        }
    }
    
}