.Fac_Menu
{
    width: 100%;
    height: 100%;
    background-color: #343434;
    background: rgba(40, 40, 40, 0.65); /* Màu trắng với độ mờ */
    mix-blend-mode: luminosity;
    border-radius: 20px;
    &_User
    {
        display: flex;
        padding: 10%;
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid white;
        margin-left: 6%;
        margin-right: 6%;
        &_Avartar
        {
            width: 65%;
            height: 65%;
            border-radius: 50%;
            cursor: pointer;
            &:hover
            {
                border: 4px solid white;
            }
        }
        &_Name
        {
            margin-top: 10px;
            color: white;
            font-size: 22px;
            font-weight: 500;
        }
    }
    &_Options
    {
        margin-top: 6%;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        
        &_Elements
        {
            display: flex;
            padding: 8px 8px;
            margin-top: 5%;
            border-radius: 10px;
            box-sizing: border-box;
            align-items: center;
            color: white;
            font-size: 20px;
            cursor: pointer;
            &:hover
            {
                background: rgba(180, 180,180, 0.6); /* Màu trắng với độ mờ */

            }
        }
    }
}