.Fac_Farm {
    width: 100%;
    height: auto;
    $background: rgba(0, 0, 0, 0.5);
    $background_element: rgba(255, 255, 255, 0.1);
    $box_shadow_color : #000000 ;
    $outline_color : rgba(255, 255, 255, 0.9);
    $color_text: #fff;

    &_Web {
        color: $color_text;
        height: 100%;
        transition: 0.3s;
        border-radius: 8px;
        background: $background;
        backdrop-filter: blur(2px);
        box-shadow: rgba($box_shadow_color, 0.8) 0px 50px 100px -20px, rgba($box_shadow_color, 0.3) 0px 30px 60px -30px;
        z-index: 3;

        &_Container {
            height: 100%;
            width: 100%;
            // background-color: #fff;
            padding: 10px 15px;
            box-sizing: border-box;
            display: flex;
            &_Left
            {
                width: calc(100% - 185px);
                height: 65%;
                display: flex;
                justify-content: space-between;
                &_Title
                {
                    display: flex;
                    font-size: 29px;
                    font-weight: 500;
                }
                &_Status
                {
                    margin-top: 8px;
                    width: 150px;
                    height: 40px;
                    background: $background_element;
                    backdrop-filter: blur(4px);
                    box-shadow: rgba($box_shadow_color, 0.7) 0px 15px 35px -20px, rgba($box_shadow_color, 0.3) 0px 30px 60px -30px;
                    border-radius: 8px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    outline: 2px solid $outline_color;
                    
                }
            
                // background-color: $color_text;
            }
            &_Right
            {
                width: 200px;
                height: 65%;
                margin-left: 20px;
                &_Button
                {
                    margin-top: 8px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    font-size: 22px;
                    font-weight: 500;
                    border-radius: 8px;
                    border: none;
                    outline: 2px solid $outline_color;
                    background: $background_element;
                    backdrop-filter: blur(4px);
                    box-shadow: rgba($box_shadow_color, 0.7) 0px 15px 35px -20px, rgba($box_shadow_color, 0.3) 0px 30px 60px -30px;
                    color: $color_text;
                    cursor: pointer;
                    &:hover
                    {
                        background: rgba(255, 255, 255, 0.2);
                    }

                }
                // background-color: $color_text;

            }
            
        }
    }

}